<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Enter Activity Name" %>
  </div>
  <div class="field">
  <br>
    <%= f.label :prediction %><br>
    <div id="star-prediction"></div><br>
  </div>
  <div class="field">
    <%= f.label :actual %><br>
    <div id="star-actual"></div><br>
  </div>
  <div class="actions">
    <%= f.submit 'Enter Activity', :class => 'btn btn-default' %>
  </div>
<% end %>

<!-- Old prediction input -->
<!-- f.label "How much you gonna like it?" %><br> -->
  <!--  f.number_field :prediction %>  -->

<!-- Old Actual input -->
<!--  f.label "How much did ya dig it?" %><br> -->
<!--  f.number_field :actual %> -->


<script>
  $('#star-prediction').raty({
   path: '/assets/',
   hints: ['Miserable', 'Unhappy', 'OK', 'Good', 'WAHOO!!'],
   scoreName: 'activity[prediction]'
 });
</script>

<script>
  $('#star-actual').raty({
   path: '/assets/',
   hints: ['Miserable', 'Unhappy', 'OK', 'Good', 'WAHOO!!'],
   scoreName: 'activity[actual]'
 });
</script>






