<h1>Whatchoo Gonna do??</h1>

<div class="container-fluid">

  <table class="table table-hover">
      <thead>
        <tr>
          <th>Whatchoo Gonna Do?</th>
          <th>Prediction</th>
          <th>Actual</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
      <%= form_for(@activity) do |f| %>
        <% if @activity.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

            <ul>
            <% @activity.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <tr>
          <td class="field">
            <%= f.text_field :name, :placeholder => "Write your activity here" %>
          </td>
          <td class="field">
            <%= f.number_field :prediction, :placeholder => "Enter 1-10" %>
          </td>
          <td class="field">
            <%= f.number_field :actual, :placeholder => "Fill this out later" %>
          </td>
          <td class="actions">
            <%= f.submit class:"btn btn-success" %>
          </td>
        </tr>
      <% end %>

        <% @activities.each do |activity| %>
          <tr>
            <td><%= activity.name %></td>
            <td><%= activity.prediction %></td>
            <td><%= activity.actual %></td>
            <td><%= link_to 'Edit', edit_activity_path(activity), class: "btn btn-warning" %></td>
            <td><%= link_to 'X', activity, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
  <br>
  
  <%= link_to 'New Activity', new_activity_path %>
</div>
