<!DOCTYPE html>
<html>
<head>
  <title>ReThinkHappy</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
			<%= link_to image_tag("rethinklogo1.gif"), "/", class: "navbar-brand" %>
			<% if current_user %>
				<%= link_to "Logout", '/logout', class: "btn btn-default navbar-btn navbar-right" %>
				<%= link_to "Activities", '/activities', class: "btn btn-success navbar-btn navbar-right" %>
			<% else %>
			    <%= link_to "Login", '/login', class: "btn btn-default navbar-btn" %>
			    <%= link_to "Signup", '/signup', class: "btn btn-default navbar-btn" %>
			<% end %>
	  </div>
	</nav>

</header>
	<%= yield %>
	<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">ReThinkers at NYC Codecademy Labs &copy; 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
